.subscripiton-screen{
    background-color: rgba(245, 245, 245, .8);
    min-height: 100vh;
}

.subscription-topbar{
    background-color: white;
    padding-top: 20px;
}

.tabs-container{
    padding-bottom: 0;
    color: rgba(0, 0, 0, .8);
    font-weight: 600;
}

.service-card{
    border-bottom: 2px solid lightgray;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-card p{
    font-size: 18px;
    color:  gray;
    font-weight: 600;
}

.service-card h3{
    font-weight: 800;
    color: rgba(0, 0, 0, .7);
}