/* color palletes in root*/
:root{
    --primaryColor: #00CAB1;
    --secondaryColor: #e3fff3; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 20px 20px;
}

.primry-color{
    background-color: var(--primaryColor);
}

h2{
    font-weight: 800;
    /* color: var(--primaryColor); */
}

.ways_to_earn_points li{
    list-style: none;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}